@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    /* border: 0; */
    box-sizing: border-box;
    list-style: none;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: hsl(27, 66%, 92%);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    gap: 10px;
}

header{
    width: 550px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(10, 79%, 65%);
    color: hsl(33, 100%, 98%);
    padding: 20px;
    border-radius: 1em;
}

main{
    width: 550px;
    background-color: hsl(33, 100%, 98%);
    border-radius: 1em;
    padding: 30px;
    height: 450px;
}

#head p{
    font-size: 1.2em;
    
}

#head h1{
    font-size: 2em;
}

main h2{
    font-size: 2em;
    color: hsl(25, 47%, 15%);
    font-weight: 600;
}

img{
    width: 3.4em;
}

.total{
    display: flex;
    justify-content: space-between;
}

.thismonth p, .lastmonth p{
    font-size: 1em;
    color: hsl(28, 10%, 53%);

}

.price{
    font-size: 2.6em;
    color: hsl(25, 47%, 15%);

}

.lastmonth h4{

    text-align: right;
}

section {
    width: 100%;
    height: 41vh;
}

hr{
    margin-bottom: 20px;
}

.box{
    display: flex;
    text-align: center;
    gap: 20%;
    width: 140px;
    background: transparent;
}

.graph{
    position: relative;
    height: 200px;
    width: 45px;
}

.percent{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: hsl(10, 79%, 65%);
    border-radius: 3px;

}

.skill:nth-child(3) .percent{
    background-color: hsl(186, 34%, 60%);
}

.percent:hover:before{
    content: attr(title);
    position: absolute;
    background-color: black;
    color: white;
    padding: 4px 6px;
    top: -32px;
    left: 0px;
    border-radius: 4px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.1);
}



.day{
    margin-top: 8px;
    color: hsl(28, 10%, 53%);
}



.percent:hover{
    background-color: hsl(9, 68%, 73%);
    cursor: pointer;
}

.skill:nth-child(3) .percent:hover{
    background-color: hsl(187, 37%, 74%);
    
}

@media screen and (max-width: 600px){

    
    body{
        width: 50%;
        max-width: 700px;
    }

    header{
        width: 400px;
    }

    main{
        width: 400px;
        height: 380px;
    }

    .box{
        width: 420px;
        gap: 5%;
    }

    .graph{
        height: 130px;
        width: 30px;
    }

    .container{
        height: 520px;
    }

    section{
        height: 30vh;
    }

    .percent:hover:before{
        padding: 2px 4px;

    }

    .price{
        font-size: 1.8em;
    }

    hr{
        margin-bottom: 20px;
    }


    
}
